<div class="tfooter__text">
  <div class="tfooter__logo">
    LOGO
  </div>
  <div class="tfooter__useful">
    <div class="tfooter__page">
      About us
    </div>
    <div class="tfooter__page">
      Instructions
    </div>
    <div class="tfooter__page">
      Platforms
    </div>
    <div class="tfooter__page">
      Contact Us
    </div>
    <div class="tfooter__page">
      Sign in
    </div>
    <div class="tfooter__page">
      Sign up for free
    </div>
  </div>
  <div class="tfooter__block">
    Information and high risk warning:
    <div class="tfooter__content">
      Trading with foreign exchange (FX), contract for differences (CFDs) and precious metals carries a high level of risk that may not be suitable for all investors. Leverage creates additional risk and loss exposure. Before you decide to trade foreign exchange or contract for differences, carefully consider your investment objectives, experience level, and risk tolerance.
    </div>
  </div>
  <div class="tfooter__block">
    Legal disclaimer:
    <div class="tfooter__content">
      Forex trading entails significant risks and is not appropriate for all investors. The possibility of incurring substantial losses should be taken into account. It is therefore important to understand the possible consequences of investing. Traders should weigh their earning potential against the risks involved and act accordingly. Interactive Trade Ltd operating under brand and using domenLink domain within the European Economic Area.
    </div>
  </div>
</div>
<div class="tfooter__links">
  <div class="tfooter__link">
    Copyright 2020, All Right Reserved
  </div>
  <div class="tfooter__link">
    Terms and Conditions
  </div>
  <div class="tfooter__link">
    Privacy Policy
  </div>
  <div class="tfooter__link">
    Risk Warnings
  </div>
  <div class="tfooter__link">
    Anti-Money Laundering
  </div>
</div>