<div class="tcomments__title">People love <span class="dedicated">Big Invest</span></div>
<div class="tcomments__main">
  <div class="tcomments__about">
    <img class="tcomments__img" src="../../../assets/human.png" alt="human"/>
    <div class="tcomments__text">
      <div class="tcomments__name">Albert Abello</div>
      <div class="tcomments__position">Director of Growth</div>
    </div>
  </div>
  <div class="tcomments__carousel">
    <img class="tcomments__quote" src="../../../assets/quote.png"/>
    <div class="tcomments__content" data-type="content"></div>
    <div class="tcomments__count" data-type="count"></div>
  </div>
</div>
<div class="tcomments__next" data-type="next"><i class="fas fa-angle-right"></i></div>
<div class="tcomments__prev" data-type="prev"><i class="fas fa-angle-left"></i></div>