<div class="tcontact__info">
  <div class="tcontact__title">
    Contact us!
  </div>
  <div class="tcontact__text">
    The support staff and customer service are available to help you with any questions or needs you might have. Just drop us a line.
  </div>
  <div class="tcontact__subtitle">
    This site is owned and operated by Kode Tech Solutions LTD
  </div>
  <div class="tcontact__support">
    Phone:
    <div class="tcontact__support-info">442038857261</div>
  </div>
  <div class="tcontact__support">
    Email:
    <div class="tcontact__support-info">help@google.com</div>
  </div>
  <div class="tcontact__support">
    Address:
    <div class="tcontact__support-info">Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro, Republic of the Marshall Islands, MH 96960</div>
  </div>
</div>
<div class="tcontact__form">
  <div class="tcontact__field">
    <input type="text" placeholder="Name" class="tcontact__input" data-type="name">
    <div class="tcontact__label" data-type="label"></div>
  </div>
  <div class="tcontact__field">
    <input type="email" placeholder="Email" class="tcontact__input" data-type="email">
    <div class="tcontact__label" data-type="label"></div>
  </div>
  <div class="tcontact__field">
    <textarea type="text" placeholder="Message" class="tcontact__input tcontact__textarea" data-type="message"></textarea>
    <div class="tcontact__label" data-type="label"></div>
  </div>

  <div class="tcontact__send tbutton" data-type="send"></div>
</div>