<div class="container tnavbar__container">
  <div class="tnavbar__static">
    <div class="tnavbar__main">
      <div class="tnavbar__logo">
        LOGO
      </div>
      <div class="tnavbar__toggler" data-type="toggler">
        <img src="../../../assets/menu.png" alt="toggler">
      </div>
    </div>
    <div class="tnavbar__collapse" data-type="collapse">
      <div class="tnavbar__links">
        <div class="tnavbar__link">How it works</div>
        <div class="tnavbar__link">About</div>
        <div class="tnavbar__link">Instructions</div>
        <div class="tnavbar__link">Accounts</div>
        <div class="tnavbar__link">Platforms</div>
        <div class="tnavbar__link">Contact</div>
      </div>
      <div class="tnavbar__panel">
        <div class="tnavbar__tlanguage" data-type="language"></div>
        <div class="tnavbar__sign-in tbutton" data-type="sign-in"></div>
      </div>
    </div>
  </div>
</div>