<div class="tstarted__title">Getting Started Is <span class="dedicated">Fast & Easy</span></div>

<div class="tstarted__block tstarted__block_main">
  <div class="tstarted__number">01.</div>
  <div class="tstarted__subtitle">Register</div>
  <div class="tstarted__text">
    Complete the simple registration to get your trading credentials.
  </div>

  <div class="tstarted__line tstarted__line_pos-right">
    <div class="tstarted__block tstarted__block_pos-right">
      <div class="tstarted__number">02.</div>
      <div class="tstarted__subtitle">Verification</div>
      <div class="tstarted__text">
        Big Invest is required to verify your identity, upload your documents quickly and get approved in minutes.
      </div>

      <div class="tstarted__line tstarted__line_pos-left">
        <div class="tstarted__block tstarted__block_pos-left">
          <div class="tstarted__number">03.</div>
          <div class="tstarted__subtitle">Deposit funds</div>
          <div class="tstarted__text">
            Big Invest accepts credit cards and bank wires. Just use the secure deposit form and follow the steps.
          </div>

          <div class="tstarted__line tstarted__line_pos-right">
            <div class="tstarted__block tstarted__block_pos-right">
              <div class="tstarted__number">04.</div>
              <div class="tstarted__subtitle">Start Trading</div>
              <div class="tstarted__text">
                Once your deposit has been credited, you can begin trading instantly. In no time you will see profits rolling into your account.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>